.glitch {
  color: white;
  font-size: 12px;
  position: relative;
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(10px, 99px, 15px, 0);
  }
  5% {
    clip: rect(16px, 99px, 43px, 0);
  }
  10% {
    clip: rect(18px, 99px, 45px, 0);
  }
  15.0% {
    clip: rect(17px, 99px, 34px, 0);
  }
  20% {
    clip: rect(11px, 99px, 24px, 0);
  }
  25% {
    clip: rect(37px, 99px, 2px, 0);
  }
  30.0% {
    clip: rect(15px, 99px, 46px, 0);
  }
  35% {
    clip: rect(3px, 99px, 22px, 0);
  }
  40% {
    clip: rect(42px, 99px, 13px, 0);
  }
  45% {
    clip: rect(35px, 99px, 37px, 0);
  }
  50% {
    clip: rect(49px, 99px, 43px, 0);
  }
  55.0% {
    clip: rect(12px, 99px, 42px, 0);
  }
  60.0% {
    clip: rect(26px, 99px, 22px, 0);
  }
  65% {
    clip: rect(50px, 99px, 11px, 0);
  }
  70% {
    clip: rect(22px, 99px, 19px, 0);
  }
  75% {
    clip: rect(39px, 99px, 6px, 0);
  }
  80% {
    clip: rect(6px, 99px, 10px, 0);
  }
  85.0% {
    clip: rect(5px, 99px, 30px, 0);
  }
  90% {
    clip: rect(9px, 99px, 13px, 0);
  }
  95% {
    clip: rect(11px, 99px, 35px, 0);
  }
  100% {
    clip: rect(12px, 99px, 37px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(10px, 99px, 15px, 0);
  }
  5% {
    clip: rect(16px, 99px, 43px, 0);
  }
  10% {
    clip: rect(18px, 99px, 45px, 0);
  }
  15.0% {
    clip: rect(17px, 99px, 34px, 0);
  }
  20% {
    clip: rect(11px, 99px, 24px, 0);
  }
  25% {
    clip: rect(37px, 99px, 2px, 0);
  }
  30.0% {
    clip: rect(15px, 99px, 46px, 0);
  }
  35% {
    clip: rect(3px, 99px, 22px, 0);
  }
  40% {
    clip: rect(42px, 99px, 13px, 0);
  }
  45% {
    clip: rect(35px, 99px, 37px, 0);
  }
  50% {
    clip: rect(49px, 99px, 43px, 0);
  }
  55.0% {
    clip: rect(12px, 99px, 42px, 0);
  }
  60.0% {
    clip: rect(26px, 99px, 22px, 0);
  }
  65% {
    clip: rect(50px, 99px, 11px, 0);
  }
  70% {
    clip: rect(22px, 99px, 19px, 0);
  }
  75% {
    clip: rect(39px, 99px, 6px, 0);
  }
  80% {
    clip: rect(6px, 99px, 10px, 0);
  }
  85.0% {
    clip: rect(5px, 99px, 30px, 0);
  }
  90% {
    clip: rect(9px, 99px, 13px, 0);
  }
  95% {
    clip: rect(11px, 99px, 35px, 0);
  }
  100% {
    clip: rect(12px, 99px, 37px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 90px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
  -moz-animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(45px, 99px, 45px, 0);
  }
  5% {
    clip: rect(14px, 99px, 37px, 0);
  }
  10% {
    clip: rect(3px, 99px, 20px, 0);
  }
  15.0% {
    clip: rect(20px, 99px, 41px, 0);
  }
  20% {
    clip: rect(43px, 99px, 25px, 0);
  }
  25% {
    clip: rect(17px, 99px, 6px, 0);
  }
  30.0% {
    clip: rect(27px, 99px, 43px, 0);
  }
  35% {
    clip: rect(19px, 99px, 43px, 0);
  }
  40% {
    clip: rect(22px, 99px, 8px, 0);
  }
  45% {
    clip: rect(12px, 99px, 29px, 0);
  }
  50% {
    clip: rect(1px, 99px, 22px, 0);
  }
  55.0% {
    clip: rect(23px, 99px, 43px, 0);
  }
  60.0% {
    clip: rect(7px, 99px, 10px, 0);
  }
  65% {
    clip: rect(12px, 99px, 8px, 0);
  }
  70% {
    clip: rect(35px, 99px, 30px, 0);
  }
  75% {
    clip: rect(35px, 99px, 1px, 0);
  }
  80% {
    clip: rect(32px, 99px, 22px, 0);
  }
  85.0% {
    clip: rect(14px, 99px, 45px, 0);
  }
  90% {
    clip: rect(34px, 99px, 2px, 0);
  }
  95% {
    clip: rect(23px, 99px, 1px, 0);
  }
  100% {
    clip: rect(18px, 99px, 9px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(45px, 99px, 45px, 0);
  }
  5% {
    clip: rect(14px, 99px, 37px, 0);
  }
  10% {
    clip: rect(3px, 99px, 20px, 0);
  }
  15.0% {
    clip: rect(20px, 99px, 41px, 0);
  }
  20% {
    clip: rect(43px, 99px, 25px, 0);
  }
  25% {
    clip: rect(17px, 99px, 6px, 0);
  }
  30.0% {
    clip: rect(27px, 99px, 43px, 0);
  }
  35% {
    clip: rect(19px, 99px, 43px, 0);
  }
  40% {
    clip: rect(22px, 99px, 8px, 0);
  }
  45% {
    clip: rect(12px, 99px, 29px, 0);
  }
  50% {
    clip: rect(1px, 99px, 22px, 0);
  }
  55.0% {
    clip: rect(23px, 99px, 43px, 0);
  }
  60.0% {
    clip: rect(7px, 99px, 10px, 0);
  }
  65% {
    clip: rect(12px, 99px, 8px, 0);
  }
  70% {
    clip: rect(35px, 99px, 30px, 0);
  }
  75% {
    clip: rect(35px, 99px, 1px, 0);
  }
  80% {
    clip: rect(32px, 99px, 22px, 0);
  }
  85.0% {
    clip: rect(14px, 99px, 45px, 0);
  }
  90% {
    clip: rect(34px, 99px, 2px, 0);
  }
  95% {
    clip: rect(23px, 99px, 1px, 0);
  }
  100% {
    clip: rect(18px, 99px, 9px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 90px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
  -moz-animation: noise-anim-2 3s infinite linear alternate-reverse;
}
