@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,600,700);

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}


/* Clearfix */
.container:after {
  content: "";
  display: table;
  clear: both;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: #fff;
}

::-moz-selection {
    background: #6d3cf7;
    color: #fff !important;
    text-shadow: none;
}

::selection {
    background: #6d3cf7;
    color: #fff !important;
    text-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
    border: 0;
    height: 10px;
    background-color: #000;
    width: 5.5em;
    margin:0 0 20px 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.logo, .text {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.wrapper {
        height: 100% !important;
        height: 100%;
        margin: 0 auto; 
        overflow: hidden;
    }

    
    a {
  text-decoration: none;
    }
    
    p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1.1em;
      margin-top: 20px;
      padding-top: 20px;

    }

    span {
      font-family: 'Source Code Pro', sans-serif;
      font-weight: 300;
      font-size: 0.75em;
      color: #fff;
      vertical-align: middle;
    }

    span[data-text=Future] {
      font-family:'Source Code Pro', sans-serif;
      font-weight: 600;
      font-style: italic;
    }

    h1, h2 {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
    }
    
    h1 {
      color: #000;
      margin-bottom: 5px;
      font-size: 3em;
      letter-spacing: 0.0225em;
    }

    h2 {
      color: #6D461D;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 10px;
    }

        .text {
      max-width: 65%;
      margin: 0 auto;
      vertical-align: middle;
    }


footer {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    text-align: center;
   
}

 footer.wrapper {
        max-width: 100%;
        margin: 0 auto;
        float:left;
    }


     .ft-top {
      background: #ffa77a;
    }

    .nike-ft-top {
      background: #ecedf0;
    }

    .uq-ft-top {
      background: #b8f6e6;
    }

    .twitter-ft-top {
      background: #b1edff;
    }

    .ft-top>img, .nike-ft-top>img, .uq-ft-top>img {
      vertical-align: baseline;
    }

     .ft-btm {
      background-color: #ecedf0;
      background-image: url(../img/left-gradient.png), url(../img/right-gradient.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0 auto;
      text-align: center;
      max-width: 100%;
    }

    .ft-btm>img {
      max-width: 50%;
    }

    img.left-grad {

      background-position: left top;
      top: 0px;
      left: 0px; 
    }

     img.right-grad {
      bottom: 0px;
      right: 0px;
      display: inline;
    }


/* ===============
    Navigation
   =============== */

   

.logo {
  position: fixed;
  float: left;
  padding: 30px;
  z-index: 11;
}
    
    header {
       width: 100%;
    }

.menu {
  position: fixed;
  top: 5%;
  right: 3%;
  height: 20px;
  width: 28px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
}
.menu:hover {
  opacity: .7;
}
.menu.active .top {
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
      -ms-transform: translateY(8px) translateX(0) rotate(45deg);
          transform: translateY(8px) translateX(0) rotate(45deg);
  background: #FFF;
}
.menu.active .middle {
  opacity: 0;
  background: #FFF;
}
.menu.active .bottom {
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
          transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.menu span {
  background: #000;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
  cursor: pointer;
}
.menu span:nth-of-type(2) {
  top: 8px;
}
.menu span:nth-of-type(3) {
  top: 16px;
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
          transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
  z-index: 99;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2em;
  font-family: 'Source Code Pro', serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:hover {
  opacity:0.5;
  -webkit-transition: .35s;
          transition: .35s;
}

.pop {
  display:none;
}

.pop {
  font-size: 0.8em;
  text-transform: none;
  letter-spacing: 0;
  max-width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}




/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   main page carousel
   ========================================================================== */

    
    .back {
      position: fixed;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
    
  
    .main section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    .main section  {
      overflow: hidden;
    }
    
    .main section > img {
      position: relative;
      max-width: 100%;
      z-index: 1;
    }
    
    .main section.page1 {
      background: #ecedf0 ;
    }

    .main section.page2 {
      background: #ffa77a;
    }
    

    .main section.page3 {
      background: #b8f6e6;
    }
    .main section.page3 .page_container {
      overflow: hidden;
      width: 500px;
      right: -285px;
    }

    .main section.page4 {
      background: #b1edff ;
    }
  
    body.disabled-onepage-scroll .onepage-wrapper  section {
      min-height: 100%;
      height: auto;
    }
    
    body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
      padding: 20px;
      margin-top: 150px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    body.disabled-onepage-scroll  section .page_container h1{
      text-align: center;
      font-size: 50px;
      width: 100%;
    }
    body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
      text-align: center;
      width: 100%;
    }
    
    body.disabled-onepage-scroll .main section.page1 > img {
      position: absolute;
      width: 80%;
      left: 10%;
    }
    
    body.disabled-onepage-scroll .main section > img {
      position: relative;
      max-width: 80%;
      bottom: 0;
    }
    body.disabled-onepage-scroll code {
      width: 95%;
      margin: 0 auto 25px;
      float: none;
      overflow: hidden;
    }
    
    body.disabled-onepage-scroll .main section.page3 .page_container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      right: 0;
    }

     .main section img{
     max-height:100vh;
   }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {


    .container {
    display: flex;
    display: -webkit-flex;
    flex-direction:column;
    flex-wrap: nowrap;
    -webkit-flex-direction:column;
    -webkit-flex-wrap: nowrap;
    max-width: 100%;
    margin: 0 auto;
    }

    .odr-1 { order: 1; -webkit-order: 1; }
    .odr-3 { order: 2; -webkit-order: 2; }
    .odr-2 { order: 3; -webkit-order: 3; }
    .odr-4 { order: 4; -webkit-order: 4; }
    .odr-5 { order: 5; -webkit-order: 5; }
    .odr-6 { order: 6; -webkit-order: 6; }

    h1 {
    font-size: 2em;
    letter-spacing: 0.0075em;
    margin-top: 0;
    padding-top: 60px;
    }

    p {
    font-size: 0.95em;
    padding-bottom: 60px;
    }

    hr {
    border: 0;
    height: 7px;
    background-color: #000;
    width: 3.5em;
    margin:0 0 20px 0;
    }

    .logo {
      padding: 20px;
    }

    .pop>span {
      padding-bottom: 50px;
    }

    .page1>a>img, .page2>a>img, .page3>a>img, .page4>a>img {
        padding-top: 40%;
        margin-left: -40px;
        min-width: 120%;
    }

    .ft-top>img, .nike-ft-top>img, .uq-ft-top>img {
      padding: 60px 0px 20px 0px;
    }

    .twitter-ft-top>img {
      padding: 30px 0px 0px 0px;
    }

    .ft-btm>img {
    max-width: 100%;
    }

    footer.wrapper {
      padding-bottom: 35px;
    }


}


@media only screen and (min-width: 480px) and (max-width: 768px) {


  h1 {
    font-size: 1.5em;
    letter-spacing: 0.0075em;
    margin-top: 0;
    padding-top: 35px;
    }

    p {
    font-size: 0.75em;
    padding: 0 0 35px 0;
    }

    hr {
    border: 0;
    height: 7px;
    background-color: #000;
    width: 3.5em;
    margin:0 0 20px 0;
    }

    .logo {
      padding: 20px;
    }

    li>a:hover {
      opacity: 0.5;
    }

    li>a::after, li>a.u-left::after, li>a.u-right::after, li>a:hover::after {
      display: none;
    }

    .text {
      padding-top: 10%;
    }

    .page1>a>img, .page2>a>img, .page3>a>img, .page4>a>img {
        transform: translateY(30%);
    }


    .ft-top>img, .nike-ft-top>img, .uq-ft-top>img {
      padding: 30px 0px 20px 0px;
    }

    .twitter-ft-top>img {
      padding: 30px 0px 0px 0px;
    }

    .pop>span {
      margin-top: -40px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 580px) {
   
   .text {
      padding-top: 0;
    }

   h1 {
    font-size: 1.2em;
    letter-spacing: 0.0075em;
    margin-top: 0;
    padding-top: 35px;
    }

    p {
    font-size: 0.7em;
    padding: 0 0 20px 0;
    }

    hr {
    border: 0;
    height: 5px;
    background-color: #000;
    width: 3em;
    margin:0 0 10px 0;
    }

  }


@media only screen and (min-width: 768px) and (max-width: 1140px) {

  
  h1 {
    font-size: 2.2em;
    letter-spacing: 0.0150em;
    margin-top: 0;
    padding-top: 35px;
    }

    p {
    font-size: 1em;
    padding: 0 0 35px 0;
    }

    hr {
    border: 0;
    height: 6px;
    background-color: #000;
    width: 3.5em;
    margin:0 0 20px 0;
    }

     .text {
      padding-top: 20%;
    }


  .page1>a>img, .page2>a>img, .page3>a>img, .page4>a>img {
        padding-top: 10%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 890px) {

   .text {
      padding-top: 10%;
    }

}

@media only screen and (min-width: 1140px) {


    .text {
      top: 50%;
      transform: translateY(60%);
    }
}

/* ==========================================================================
   clearfix
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Columns
   ========================================================================== */

/* Attribute selector */
[class*='col-'] {
  float: left;
  padding: 0;
  margin: 0 auto;
}

/* Floats last ".col-" to the right */
[class*='col-']:last-of-type {
  float: right;
}


/* Main Widths */
.col-1  { width: 100%; }
.col-2  { width: 50%; }


/* Landscape mobile & down */
@media (max-width: 30em) {
  .col-1,
  .col-2 {
    width: 100%;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .col-2 {
    width: 50%;
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  .col-2 {
    width: 50%;
  }
}
